body {
   background-color: white; 
}
h1 {
   font-family: 'Handlee', cursive;
   font-style: normal;
   font-size: 70px;
   line-height: 70px;

}
h2 {
   font-family: 'Holtwood One SC', serif;
   color: #FF2D55;
}
h3 {

}
h4 {
   font-family: 'Sura', serif;
   font-size: 20px; 
}
p {
   font-family: 'Rancho', cursive;
   font-size: 25px
}
img {
   border-radius: 8px;
}
header {
   font-family: 'Sura', serif;
}
footer {
   font-family: 'Sura', serif;
}
.navBar {
  display: flex;
  align-items: center;
  border: #C80EB5 double 6px;
}
li {
   display: inline-block;
   font: black;
   font-size: 20px;
   padding: 20px;
   vertical-align: top;
}
.topNavbar {
  display: flex;
  align-items: center;
  align-content: center;
  list-style-type: none;
  margin: auto;
  overflow: hidden;
}
.navPage {
   display: inline-block;
   text-align: center;

}
a {
   float: center;
   text-align: center;
}
.hero {
   display: flex;
   margin: auto;
   background-color:  #c80eb538;
   padding: 15px;
   
}
.container {
   display: right;
   align-items: center;
   padding: 20px;

}
   .flexContainer {
      display: flex;
      background-color: #c80eb521;
}
   .flexContainer > div {
      border: #C80EB5 double 6px;
      margin: 10px;
      padding: 20px;
      font-size: 15px;
 }
.container {
   display: flex;
   margin: auto;
   padding: 20px;
   align-items: flex-end;
}
.text {
   padding-left: 20px;
}
.projectDetails {
      margin: 10px;
      padding: 20px;
      font-size: 15px;
}
.projDetails > div {
   display: flex;
   margin: auto;
   padding: 20px;
   align-items: flex-end;

}
.projectDetails {
   display: flex;
}
.projectDetails > div { 
      border: #C80EB5 double 6px;
      margin: 10px;
      padding: 20px;
      font-size: 15px;
      background-color: #c80eb521;
}


